body{
    font-family:"Arial","Meiryo",sans-serif;
    font-size: 20px;
}
.google-fonts{
    font-family:"Josefin Sans",sans-serif;
}
.description{
    font-size: 2rem;
    text-shadow: 1px 1px 2px gray;
    border-bottom: solid 3px rgb(115, 115, 114);
    text-align: center;
    letter-spacing: 2.2rem;
}
.skyblue{
    color: skyblue;
    text-align: center;
}
.pink{
    color:rgb(255, 192, 203);
    text-align: center;
}
.text{
    text-align: center;
}
.text-2{
    text-align: center;
    font-weight: bold;
}